#homeButton {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;

}

#homeButton:hover {
    -fx-border-color: lightgray;

}

#coinsButton,
#shopButton{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 3.2;
    -fx-border-radius: 40;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;
    -fx-cursor: pointer;
}
#shopButton:hover {
    -fx-border-color: rgb(255, 153, 123);
}

.yellowButtons {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 40px;
    -fx-background-radius: 40;
}
#waterInWell {
    -fx-rotate: -90;
}
.yellowButtons:hover {
    -fx-border-color: #170700;
    -fx-border-width: 3.2;
}