#beginButton,
#startButton,
#beginAgain {
    -fx-background-color: #C84938;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;
    -fx-cursor: pointer;

}

#startButton:hover,
#beginButton:hover {
    -fx-background-color: #DF6A3D;
}
.buttonLevel {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

