#beginButton {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;

}