.slider .track {
    -fx-background-color: gray;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.slider .thumb {
    -fx-background-color: lightblue;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.slider .track .filled {
    -fx-background-color: #349ee0;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}
